<mat-card class="mat-elevation-z8" style="width: 100%">
  <table mat-table [dataSource]="dataSource">
    <!-- Token ID Column -->
    <ng-container matColumnDef="tokenId">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Token Number
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{ element.tokenId }}
      </td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="tokenUsers">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Token User
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        <button
          mat-stroked-button
          color="primary"
          (click)="openDetailsDialog(element)"
        >
          <mat-icon>person</mat-icon>
          User Details
        </button>
      </td>
    </ng-container>

    <!-- Token Availability Column -->
    <ng-container matColumnDef="tokenAvailability">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Token Status
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        <!-- <button mat-stroked-button disabled="">
        </button> -->
        {{ element.tokenAvailable ? "Available" : "Unavailable" }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Action
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        <ng-container *ngIf="element.tokenAvailable; else unavailable">
          <button
            mat-raised-button
            (click)="openAssignDialog(element.tokenId)"
            color="primary"
          >
            Assign
          </button>
        </ng-container>
        <ng-template #unavailable>
          <button
            mat-raised-button
            (click)="openReturnDialog(element.tokenId)"
            color="accent"
          >
            Return
          </button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef=""></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="openDeleteDialog(element.tokenId)"
          color="warn"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Data Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="10"
    [length]="tokens.length"
    (page)="onPageChange($event)"
    showFirstLastButtons
    aria-label="Select page of tokens"
  >
  </mat-paginator>
</mat-card>
